name: Build devcontainer

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-devcontainer:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build devcontainer
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/devcontainer.json
          imageName: ghcr.io/${{ toLower(github.repository) }}/linux-amd64-rocm-fuzzer
          imageTag: ${{ github.sha }}
          push: true
